name: CI
on: push

jobs:
  jdk8:
    name: OpenJDK 8 (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '1.8'
          impl: 'hotspot'
      - uses: AdoptOpenJDK/install-jdk@v1
        with:
          version: '9'
          targets: 'JDK_9'
      - name: Gradle Build
        run: |
          ./gradlew --version --console=plain
          ./gradlew build -Psnapshot --info -S --console=plain